<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /guia-de-aplicacao/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /guia-de-aplicacao/index.html [L]
</IfModule>
